<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>{% block pagename %}
                      wah
                    {% endblock pagename %}</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href={% url 'home' %}>Home</a>
                    <span>{% block pagecrumb %}
                      
                    {% endblock pagecrumb %}</span>
                </div>
            </div>
        </div>
    </div>
</div>