{% extends "main.html" %}

{% block title %}
  Contact
{% endblock title %}

{% block body %}    
    <!-- Contact Section Begin -->
    <button class="site-btn">
        <a class="text-white" href="tel:+254795404843">0795404843</a></li>
    </button>
    <section class="contact spad">
        <div class="container">
            {% include "locationmap.html" %}
            <div class="contact__address">



                <div class="row">
                    {% for location in locations  %}

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="contact__address__item">
                                <h6>{{location.name}}</h6>
                                <ul>
                                    <li>
                                        <span class="icon_pin_alt"></span>
                                        <p>{{location.name}} KENYA</p>
                                    </li>
                                    <li><span class="icon_headphones"></span>
                                        <p>+254 {{location.contact}}</p>
                                        or
                                    </li>
                                    
                                    <li><span class="icon_mail_alt"></span>
                                        <p>{{location.mail}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>



            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact__text">
                        <h3>Contact us !</h3>
                        <ul>
                            <li>Representatives or Advisors are available:</li>
                            <li>Mon-Fri: 5:00am to 9:00pm</li>
                            <li>Sat-Sun: 6:00am to 9:00pm</li>
                        </ul>
                        <img src="/media/img/cake-piece.png" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    {% if user.is_authenticated %}
                    <div class="contact__form">
                        <form action = {% url "messageus" request.user.id %} method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <textarea placeholder="Message" name="message"></textarea>
                                    <button type="submit" class="site-btn">Send Us</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% else %}
                        <div class="contact__form">
                            <form action = {% url "messageus" 'anonymous' %} method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea placeholder="Message" name="message"></textarea>
                                        <button type="submit" class="site-btn">Send Us</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->



{% endblock body %}