
{% extends "main.html" %}

{% block body %}
  <div class="row shop-row">

{% for item in stuff  %}
    {% if item.numberOfItems > 0 %}
        <div class="col-lg-3 col-md-6 col-sm-6 productdiv">
            <div class="product__item">

                <div class="add_to_wishlist_box">
                    {% if user.is_authenticated %}

                    
                        {% if item.is_wished  %}
                            {% for wishitem in wishitems %}
                                {% if wishitem.item == item  %}
                                    <button class="custombutton fa fa-heart"><a href={% url 'removewishitem' item.id %}>
                                    </a></button>
                                {% endif %}
                            {% endfor %}

                        {% else %}
                            <a href={% url 'addToWishlist' item.id %}>
                                <button class="custombutton icon_heart_alt"></button>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href={% url 'addToWishlist' item.id %}>
                            <button class="custombutton icon_heart_alt"></button>
                        </a>
                    {% endif %}
                    
                </div>
                
                <a href={% url "productdetails" item.id %}>
                    <div class="product__item__pic set-bg set-bg-row" data-setbg={{item.thumbnail.url}} style="background-image: url(&quot;{{item.thumbnail.url}}&quot;);">
                    <div class="product__label">
                        <span>{{item.category}}</span>
                    </div>
                </div>
                </a>
                <div class="product__item__text">
                    <h6><a href="#">{{item.name}}</a></h6>
                    <div class="product__item__price">Shs. {{item.price}}</div>
                    <div class="cart_add">
                        <a href={% url 'buyItem' item.id %}>Add to cart</a>
                        
                    </div>
                </div>
            </div>
        </div>
    {% elif item.numberOfItems == 0 %}
        
    {% endif %}

{% endfor %}


</div>



<div class="shop__last__option">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="shop__pagination">
               
                {% if page_obj.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{page_obj.previous_page_number}}">Prev</a>
                {% endif %}

                <span>Page {{stuff.number}} of {{stuff.paginator.num_pages}}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}">Next</a>
                    <a href="?page={{page_obj.paginator.num_pages}}">Last Page</a>
                {% endif %}
                
            
               
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="shop__last__text">
                <p>Showing {{stuff.count}} result(s)</p>
            </div>
        </div>
    </div>
</div>


{% endblock body %}

