{% extends "main.html" %}

{% block title %}
  Shop
{% endblock title %}


{% block body %}

    <!-- Page Preloder -->


    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shop</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="shop__option">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="shop__option__search">
                            <form action="#">
                                <select>
                                    <option value="">Categories</option>
                                    <option value="">Red Velvet</option>
                                    <option value="">Cup Cake</option>
                                    <option value="">Biscuit</option>
                                </select>
                                <input type="text" placeholder="Search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="shop__option__right">
                            <select>
                                <option value="">Default sorting</option>
                                <option value="">A to Z</option>
                                <option value="">1 - 8</option>
                                <option value="">Name</option>
                            </select>
                            <a href="#"><i class="fa fa-list"></i></a>
                            <a href="#"><i class="fa fa-reorder"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <section class="product spad">
                <div class="row">

                    {% for item in items  %}
                        {% if item.numberOfItems > 0 %}
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <form action="{% url 'buyItem' item.id %}" method="post">
                                    {% csrf_token %}
                                    
                                    
                                        <div class="product__item">
                                            <div class="product__item__pic">
                                                <div class="product-image">
                                                    <!-- <img src="/media/item_pics/product-1.jpg" alt=""> -->
            
                                                    <img class="thumbnail-image" src={{ item.thumbnail.url}} alt="">
                                                </div>
                                                <div class="product__label"> 
                                                    <h3><span>{{item.name}}</span></h3>
                                                    
                                                </div>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><a href="#">{{item.name}}</a></h6>
                                                <div class="product__item__price">Shs. {{item.price}}</div>
                                                {% if user.is_authenticated %}
                                                    <div class="cart_add">
                                                        <button type="submit">Add to cart</button>
                                                    </div>
                                                
                                        
                                                {% else %}
                                                    <div class="cart_add">
                                                        <a href={% url 'login' %}>
                                                            Log in to Order !
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    
            
            
            
                                    
                                </form>
                            </div>
                        {% elif item.numberOfItems == 0 %}
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                    
                                        <div class="product__item">
                                            <div class="product__item__pic">
                                                <div class="product-image">
                                                    <!-- <img src="/media/item_pics/product-1.jpg" alt=""> -->
            
                                                    <img class="thumbnail-image" src={{ item.thumbnail.url}} alt="">
                                                </div>
                                                <div class="product__label"> 
                                                    <h3><span>DOZEN CUPCAKES</span></h3>
                                                    
                                                </div>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><a href="#">{{item.name}}</a></h6>
                                                <div class="product__item__price">Shs. {{item.price}}</div>
                                                <div class="cart_add">
                                                    <button type="submit">Out of Stock !</button>
                                                </div>
                                            </div>
                                        </div>
                                    

                            </div>
                        {% endif %}
                    
                    {% endfor %}

                </div>
            </section>
            <div class="shop__last__option">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="shop__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><span class="arrow_carrot-right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="shop__last__text">
                            <p>Showing 1-9 of 10 results</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="img/footer-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>WORKING HOURS</h6>
                        <ul>
                            <li>Monday - Friday: 08:00 am – 08:30 pm</li>
                            <li>Saturday: 10:00 am – 16:30 pm</li>
                            <li>Sunday: 10:00 am – 16:30 pm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore dolore magna aliqua.</p>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__newslatter">
                        <h6>Subscribe</h6>
                        <p>Get latest updates and offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send-o"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="copyright__text text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Template by <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                  </div>
                  <div class="col-lg-5">
                    <div class="copyright__widget">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.barfiller.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/main.js"></script>

{% endblock body %}

</html>