{% extends "main.html" %}

{% block title %}
Wishlist
{% endblock title %}

{% block body %}
  
   
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Wishlist</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Wishlist Section Begin -->
    <section class="wishlist spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wishlist__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Unit Price</th>
                                    <th>Stock</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wishitem in wishitems %}
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img src={{wishitem.item.thumbnail.url}} alt={{wishitem.item.thumbnail.url}}>
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6>{{wishitem.item.name}}</h6>
                                            </div>
                                        </td>
                                        <td class="cart__price">Shs. {{wishitem.item.price}}.00</td>
                                        <td class="cart__stock">In stock</td>
                                        <td class="cart__btn"><a href={% url 'buyItem' wishitem.id %} class="primary-btn">Add to cart</a></td>
                                        
                                            <td class="cart__close">
                                                <a href= {% url "removewishitem" wishitem.id  %}>
                                                <span class="icon_close"></span>
                                                </a>
                                            </td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Wishlist Section End -->


<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
{% endblock body %}